/*Schrijf hier jouw CSS*/
.opdracht-1 ul{
    display: flex;
    flex-direction: row;
    /*background-color: black;*/
    justify-content: space-between;
}


/*############################################################## */

.opdracht-2 ul{
    display: flex;
    flex-direction: row;

}

.opdracht-2 ul>li {
    /*background-color: yellow;*/
    flex-basis: 0;
    flex-grow: 1;
    height: 120px;

    /*width: calc(100%/3);*/
}

/*############################################################## */
.opdracht-3 ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: flex-start;*/
}

.opdracht-3 .item1{
    align-self: flex-start;
    /*background-color: black;*/
}

.opdracht-3 .item2{
    align-self: center;
    /*background-color: black;*/
}
.opdracht-3 .item3{
    align-self: flex-end;
    /*background-color: black;*/
}

/*& ul:nth-child(1) {*/
/*    align-items: flex-start;*/
/*}*/

/*& ul:nth-child(2) {*/
/*    align-items: center;*/
/*}*/

/*& ul:nth-child(3) {*/
/*    align-items: flex-end;*/
/*}*/

/*############################################################## */
.opdracht-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-basis: 0;*/
    justify-content: flex-start;
    gap: 10px;
}

.opdracht-4 ul>li {
    /*background-color: #1A293A;*/
    /*flex-basis: 0;*/
    /*flex-grow: 1;*/
}

/*############################################################## */
.opdracht-5 ul{
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-evenly;*/
    /*gap: 100px;*/
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

& ul:nth-child(2) {
    align-items: center;
}

& ul:nth-child(3) {
    align-items: flex-end;
}
