/*Schrijf hier jouw CSS*/
body {
    height: 953px;

    display: flex;
    flex-direction: row;
}

/* ############niveau 2################*/
nav {
    flex-basis: 20%;
    flex-grow: 1;
}

div {
    flex-basis: 75%;
    flex-grow: 7;

    display: flex;
    flex-direction: column;
}


/* ############niveau 3################*/
header {
    flex-basis: 10vw;
    flex-grow: 1;
}

main {
    flex-basis: 0;
    flex-grow: 8;

    display: flex;
}

footer {
    flex-basis: 5vw;
    flex-grow: 1;
}

/* ############ main child - niveau 3 ################*/
article {
    flex-basis: 0;
    flex-grow: 8;
    flex-shrink: 1;
}

aside {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}